doc/Parc_Automobile_v1.0.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.0">
	<xs:element name="VEHICLES">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VEHICLE" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CATSTC">
								<xs:annotation><xs:documentation xml:lang="fr">Code Catégorie STATEC</xs:documentation></xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="0">
											<xs:annotation><xs:documentation xml:lang="fr">Sans Code</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="1">
											<xs:annotation><xs:documentation xml:lang="fr">Cyclomoteur</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="2">
											<xs:annotation><xs:documentation xml:lang="fr">Motocycle</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="5">
											<xs:annotation><xs:documentation xml:lang="fr">Voiture particulière</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="6">
											<xs:annotation><xs:documentation xml:lang="fr">Voiture à usage mixte</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="7">
											<xs:annotation><xs:documentation xml:lang="fr">Véhicule utilitaire</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="9">
											<xs:annotation><xs:documentation xml:lang="fr">Autobus - Autocar</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="11">
											<xs:annotation><xs:documentation xml:lang="fr">Camionnette</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="12">
											<xs:annotation><xs:documentation xml:lang="fr">Camion</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="21">
											<xs:annotation><xs:documentation xml:lang="fr">Tracteur routier</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="29">
											<xs:annotation><xs:documentation xml:lang="fr">Véhicule spécial</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="31">
											<xs:annotation><xs:documentation xml:lang="fr">Tracteur agricole</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="32">
											<xs:annotation><xs:documentation xml:lang="fr">Machine agricole</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="39">
											<xs:annotation><xs:documentation xml:lang="fr">Auto véhicule automoteur</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="41">
											<xs:annotation><xs:documentation xml:lang="fr">Remorque (marchandises)</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="42">
											<xs:annotation><xs:documentation xml:lang="fr">Semi-remorque</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="51">
											<xs:annotation><xs:documentation xml:lang="fr">Tricycle</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="52">
											<xs:annotation><xs:documentation xml:lang="fr">Quadricycle</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="53">
											<xs:annotation><xs:documentation xml:lang="fr">Quadricycle léger</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="59">
											<xs:annotation><xs:documentation xml:lang="fr">Autre remorque</xs:documentation></xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CODCAR">
								<xs:annotation><xs:documentation xml:lang="fr">Code Carrossie</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="LIBCAR">
								<xs:annotation><xs:documentation xml:lang="fr">Libellé Carrosserie</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="CATEU">
								<xs:annotation><xs:documentation xml:lang="fr">Code Carrossie Européen</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="COUL">
								<xs:annotation><xs:documentation xml:lang="fr">Couleur</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="INDUTI">
								<xs:annotation><xs:documentation xml:lang="fr">Indice d'utilisation</xs:documentation></xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="0">
											<xs:annotation><xs:documentation xml:lang="fr">Néant</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="A">
											<xs:annotation><xs:documentation xml:lang="fr">Ambulance</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="C">
											<xs:annotation><xs:documentation xml:lang="fr">Location avec chauffeur</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="D">
											<xs:annotation><xs:documentation xml:lang="fr">Depanneuse</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="F">
											<xs:annotation><xs:documentation xml:lang="fr">Vehicule d'instruction</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="I">
											<xs:annotation><xs:documentation xml:lang="fr">Industriel</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="L">
											<xs:annotation><xs:documentation xml:lang="fr">Location sans chauffeur</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="M">
											<xs:annotation><xs:documentation xml:lang="fr">Motor-home</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="P">
											<xs:annotation><xs:documentation xml:lang="fr">Vehicule d'incendie</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="S">
											<xs:annotation><xs:documentation xml:lang="fr">Vehicule de secours</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="T">
											<xs:annotation><xs:documentation xml:lang="fr">Taxi</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="X">
											<xs:annotation><xs:documentation xml:lang="fr">MMA > 3500 (Catégorie 59)</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="Z">
											<xs:annotation><xs:documentation xml:lang="fr">Vehicule forain</xs:documentation></xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PAYPVN">
								<xs:annotation><xs:documentation xml:lang="fr">Pays de Provenance</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="CODMRQ">
								<xs:annotation><xs:documentation xml:lang="fr">Code Marque</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="LIBMRQ">
								<xs:annotation><xs:documentation xml:lang="fr">Libellé Marque</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="TYPUSI">
								<xs:annotation><xs:documentation xml:lang="fr">Type Usine</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="TYPCOM">
								<xs:annotation><xs:documentation xml:lang="fr">Désignation commerciale</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PVRNUM">
								<xs:annotation><xs:documentation xml:lang="fr">Numéro PVR</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PVRVAR">
								<xs:annotation><xs:documentation xml:lang="fr">Variante PVR</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PVRVER">
								<xs:annotation><xs:documentation xml:lang="fr">Version PVR</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="DATCIRPRM">
								<xs:annotation><xs:documentation xml:lang="fr">Date de première mise en circulation</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="DATCIR_GD">
								<xs:annotation><xs:documentation xml:lang="fr">Date de première mise en circulation au Luxembourg</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="DATCIR">
								<xs:annotation><xs:documentation xml:lang="fr">Date de mise en circulation par le propriétaire</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="DATHORCIR">
								<xs:annotation><xs:documentation xml:lang="fr">Date de mise hors circulation</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="MVID">
								<xs:annotation><xs:documentation xml:lang="fr">Masse à vide</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="MMA">
								<xs:annotation><xs:documentation xml:lang="fr">Masse maximale autorisée</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="MMAENS">
								<xs:annotation><xs:documentation xml:lang="fr">Masse maximale autorisée ensemble</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="MMAATT">
								<xs:annotation><xs:documentation xml:lang="fr">Masse maximale autorisée au point d'attelage</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="MMARSF">
								<xs:annotation><xs:documentation xml:lang="fr">Masse maximale remorquable sans freinage</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="MMARAF">
								<xs:annotation><xs:documentation xml:lang="fr">Masse maximale remorquable avec freinage</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="I4X4">
								<xs:annotation><xs:documentation xml:lang="fr">Indicateur 4x4</xs:documentation></xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="1">
											<xs:annotation><xs:documentation xml:lang="fr">4x4</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="P">
											<xs:annotation><xs:documentation xml:lang="fr">4x4 Permanent</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="">
											<xs:annotation><xs:documentation xml:lang="fr">non renseigné</xs:documentation></xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ABS">
								<xs:annotation><xs:documentation xml:lang="fr">Indicateur ABS</xs:documentation></xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="0">
											<xs:annotation><xs:documentation xml:lang="fr">Absent</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="1">
											<xs:annotation><xs:documentation xml:lang="fr">Présent</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="">
											<xs:annotation><xs:documentation xml:lang="fr">non renseigné</xs:documentation></xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ASR">
								<xs:annotation><xs:documentation xml:lang="fr">Indicateur ASR</xs:documentation></xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="0">
											<xs:annotation><xs:documentation xml:lang="fr">Absent</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="1">
											<xs:annotation><xs:documentation xml:lang="fr">Présent</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="">
											<xs:annotation><xs:documentation xml:lang="fr">non renseigné</xs:documentation></xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PLAAVA">
								<xs:annotation><xs:documentation xml:lang="fr">Nombre places avant</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PLAARR">
								<xs:annotation><xs:documentation xml:lang="fr">Nombre places arrière</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PLASAV">
								<xs:annotation><xs:documentation xml:lang="fr">Nombre spécifique Avant</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PLASAR">
								<xs:annotation><xs:documentation xml:lang="fr">Nombre spécifique arrière</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PLADEB">
								<xs:annotation><xs:documentation xml:lang="fr">Places debout</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PLAASS">
								<xs:annotation><xs:documentation xml:lang="fr">Places assises</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="LON">
								<xs:annotation><xs:documentation xml:lang="fr">Longueur</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="LAR">
								<xs:annotation><xs:documentation xml:lang="fr">Largeur</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="HAU">
								<xs:annotation><xs:documentation xml:lang="fr">Hauteur</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="ESSIM">
								<xs:annotation><xs:documentation xml:lang="fr">Nombre d'essieux simples</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="ESTAN">
								<xs:annotation><xs:documentation xml:lang="fr">Nombre d'essieux tandem</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="ESTRI">
								<xs:annotation><xs:documentation xml:lang="fr">Nombre d'essieux tridem</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="EMPMAX">
								<xs:annotation><xs:documentation xml:lang="fr">Empattement maximal</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="LARES1">
								<xs:annotation><xs:documentation xml:lang="fr">Largeur voie essieu 1</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="LARES2">
								<xs:annotation><xs:documentation xml:lang="fr">Largeur voie essieu 2</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="TYPMOT">
								<xs:annotation><xs:documentation xml:lang="fr">Type moteur</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="CODCRB">
								<xs:annotation><xs:documentation xml:lang="fr">Code carburant</xs:documentation></xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="0">
											<xs:annotation><xs:documentation xml:lang="fr">Pas de carburant</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="1">
											<xs:annotation><xs:documentation xml:lang="fr">Essence</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="2">
											<xs:annotation><xs:documentation xml:lang="fr">Diesel</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="3">
											<xs:annotation><xs:documentation xml:lang="fr">LPG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="4">
											<xs:annotation><xs:documentation xml:lang="fr">Electrique</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="5">
											<xs:annotation><xs:documentation xml:lang="fr">Gazogene</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="6">
											<xs:annotation><xs:documentation xml:lang="fr">Essence + LPG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="7">
											<xs:annotation><xs:documentation xml:lang="fr">Inconnu</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="8">
											<xs:annotation><xs:documentation xml:lang="fr">Essence + CNG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="9">
											<xs:annotation><xs:documentation xml:lang="fr">CNG (Gaz Naturel Comprimé)</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="10">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Essence / Electrique NOVC</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="11">
											<xs:annotation><xs:documentation xml:lang="fr">Diesel (GASOIL-FUEL)</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="12">
											<xs:annotation><xs:documentation xml:lang="fr">Essence + Methane</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="13">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Essense / Electrique OVC</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="14">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Electrique / Essence</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="15">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Diesel / Electrique NOVC</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="16">
											<xs:annotation><xs:documentation xml:lang="fr">Essence / Ethanol</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="17">
											<xs:annotation><xs:documentation xml:lang="fr">Diesel + LPG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="18">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Diesel / Electrique OVC</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="19">
											<xs:annotation><xs:documentation xml:lang="fr">LNG</xs:documentation></xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LIBCRB">
								<xs:annotation><xs:documentation xml:lang="fr">Libellé carburant</xs:documentation></xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="PAS DE CARBURANT">
											<xs:annotation><xs:documentation xml:lang="fr">Pas de carburant</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="ESSENCE">
											<xs:annotation><xs:documentation xml:lang="fr">Essence</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="DIESEL">
											<xs:annotation><xs:documentation xml:lang="fr">Diesel</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="LPG">
											<xs:annotation><xs:documentation xml:lang="fr">LPG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="ELECTRIQUE">
											<xs:annotation><xs:documentation xml:lang="fr">Electrique</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="GAZOGENE">
											<xs:annotation><xs:documentation xml:lang="fr">Gazogene</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="ESSENCE + LPG">
											<xs:annotation><xs:documentation xml:lang="fr">Essence + LPG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="INCONNU">
											<xs:annotation><xs:documentation xml:lang="fr">Inconnu</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="ESSENCE + CNG">
											<xs:annotation><xs:documentation xml:lang="fr">Essence + CNG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="CNG(GAZ NATUREL COMPRIME)">
											<xs:annotation><xs:documentation xml:lang="fr">CNG (Gaz Naturel Comprimé)</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="HYBRIDE - ESS./ELEC. NOVC">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Essence / Electrique NOVC</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="DIESEL (GASOIL-FUEL)">
											<xs:annotation><xs:documentation xml:lang="fr">Diesel (GASOIL-FUEL)</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="ESSENCE + METHANE">
											<xs:annotation><xs:documentation xml:lang="fr">Essence + Methane</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="HYBRIDE - ESS./ELEC. OVC">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Essense / Electrique OVC</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="HYBRIDE - ELECTRIQUE/ESS.">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Electrique / Essence</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="HYBRIDE - DIE./ELEC. NOVC">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Diesel / Electrique NOVC</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="ESSENCE/ETHANOL">
											<xs:annotation><xs:documentation xml:lang="fr">Essence / Ethanol</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="DIESEL + LPG">
											<xs:annotation><xs:documentation xml:lang="fr">Diesel + LPG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="HYBRIDE - DIE./ELEC. OVC">
											<xs:annotation><xs:documentation xml:lang="fr">Hybride - Diesel / Electrique OVC</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="LNG">
											<xs:annotation><xs:documentation xml:lang="fr">LNG</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="">
											<xs:annotation><xs:documentation xml:lang="fr">non renseigné</xs:documentation></xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NBRCYL">
								<xs:annotation><xs:documentation xml:lang="fr">Nombre de cylindres</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="PKW">
								<xs:annotation><xs:documentation xml:lang="fr">Puissance</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="CYD">
								<xs:annotation><xs:documentation xml:lang="fr">Cylindrée</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="INFOUTI">
								<xs:annotation><xs:documentation xml:lang="fr">Info Utilisateur</xs:documentation></xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="PP">
											<xs:annotation><xs:documentation xml:lang="fr">Personne physique</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="PM">
											<xs:annotation><xs:documentation xml:lang="fr">Personne morale</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="N/A">
											<xs:annotation><xs:documentation xml:lang="fr">Non applicable</xs:documentation></xs:annotation>
										</xs:enumeration>
										<xs:enumeration value="">
											<xs:annotation><xs:documentation xml:lang="fr">non renseigné</xs:documentation></xs:annotation>
										</xs:enumeration>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="INFCO2">
								<xs:annotation><xs:documentation xml:lang="fr">Emissions CO2 en g/km (combiné)</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="L100KM">
								<xs:annotation><xs:documentation xml:lang="fr">Consommation en l/100km (combiné)</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="INFPARTICULE">
								<xs:annotation><xs:documentation xml:lang="fr">Emission de particules en g/km</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="INFNOX">
								<xs:annotation><xs:documentation xml:lang="fr">Emissions NOX en g/km</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
							<xs:element name="EUNORM">
								<xs:annotation><xs:documentation xml:lang="fr">Euronorme</xs:documentation></xs:annotation>
								<xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>